/*   
  .one {
  display:block; 
  width: 0;
	height: 0;
	border-left: 25px solid transparent;
	border-right: 25px solid transparent;
	border-bottom: 50px solid #6d5271;
  transform: rotate(45deg); */
/* 

  .one {
    display:block; 
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 100px solid #6d5271;
    border-color: 50px solid #6d5271;
  } */


    
  /* .red {

    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 160px solid #ff0000;
    border-color: 60px solid #ff0000;
    top: 50%;
    left: 20%;
    position: absolute;
  }
  
  .blue {
    width: 0;
    height: 0;
    border-left: 100px solid transparent;
    border-right: 100px solid transparent;
    border-bottom: 160px solid #0000ff;
    border-color: 60px solid #0000ff;
    top: 30%;
    left: 70%;
    position: absolute;
  }
   */
   
   .shape {
    position: absolute;
    width: 0;
    height: 0;
    display: block;
    }
    
    .red {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #ff0000;
    top: 0;
    left: 25%;
    }
    
    .blue {
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 80px solid #0000ff;
    top: 0;
    left: 75%;
    }
    
    .move-vertical {
    animation: moveVertical 5s linear infinite alternate;
    }
    
    .move-diagonal {
    animation: moveDiagonal 7s linear infinite alternate;
    }
    
    @keyframes moveVertical {
    from { top: 0; }
    to { top: 100vh; }
    }
    
    @keyframes moveDiagonal {
    from { top: 0; left: 75%; }
    to { top: 100vh; left: 25%; }
    }
  